USE [master]
GO
/****** Object:  Database [SmartTMS]    Script Date: 28/12/2024 1:26:57 SA ******/
CREATE DATABASE [SmartTMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartTMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SmartTMS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartTMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SmartTMS_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartTMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartTMS]
GO
/****** Object:  Table [dbo].[AP]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AP](
	[MaAp] [varchar](50) NOT NULL,
	[TenAp] [nvarchar](250) NULL,
	[DangSuDung] [bit] NULL,
	[MaXa] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ap] PRIMARY KEY CLUSTERED 
(
	[MaAp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAI]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAI](
	[MaBai] [varchar](50) NOT NULL,
	[TenBai] [nvarchar](250) NULL,
	[LoaiBai] [nvarchar](50) NULL,
	[DienTich] [float] NULL,
	[SoCho] [int] NULL,
	[KhongSuDung] [bit] NULL,
	[MaQuanLy] [varchar](50) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[NgaySuDung] [datetime] NULL,
	[NgayHoanTra] [datetime] NULL,
	[ChiPhiBai] [decimal](18, 6) NULL,
 CONSTRAINT [PK_BAI] PRIMARY KEY CLUSTERED 
(
	[MaBai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANGLUONG]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGLUONG](
	[MaBL] [varchar](50) NOT NULL,
	[MaNV] [varchar](50) NULL,
	[MaTX] [varchar](50) NULL,
	[Thang] [nvarchar](50) NOT NULL,
	[Nam] [nvarchar](50) NOT NULL,
	[LuongCoBan] [float] NOT NULL,
	[PhuCap] [float] NULL,
	[Thuong] [float] NULL,
	[KhauTru] [float] NULL,
	[ThucLinh]  AS ((([LuongCoBan]+isnull([PhuCap],(0)))+isnull([Thuong],(0)))-isnull([KhauTru],(0))) PERSISTED NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAOTRI]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOTRI](
	[MaBT] [varchar](50) NOT NULL,
	[MaPT] [varchar](50) NOT NULL,
	[NgayBT] [datetime] NOT NULL,
	[NgayHoanThanh] [datetime] NULL,
	[LoaiBT] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](255) NOT NULL,
	[NoiBaoTri] [nvarchar](255) NULL,
	[ChiPhi] [float] NOT NULL,
	[NhanVienPhuTrach] [nvarchar](100) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[KetQua] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[MaCTDH] [varchar](50) NOT NULL,
	[MaDH] [varchar](50) NOT NULL,
	[MaHangHoa] [nvarchar](50) NULL,
	[TenHangHoa] [nvarchar](255) NULL,
	[SoLuong] [int] NULL,
	[KhoiLuong] [float] NULL,
	[ChieuDai] [float] NULL,
	[ChieuRong] [float] NULL,
	[ChieuCao] [float] NULL,
	[GiaTri] [float] NULL,
	[YeuCauDB] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK__CHITIETD__1E4E40F00376A25E] PRIMARY KEY CLUSTERED 
(
	[MaCTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETKEHOACHVANCHUYEN]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETKEHOACHVANCHUYEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaKHVC] [varchar](50) NULL,
	[MaNKH] [varchar](50) NULL,
	[MaDH] [varchar](50) NULL,
	[DiemKetThuc] [varchar](50) NULL,
	[DiemBatDau] [varchar](50) NULL,
	[MaPT] [varchar](50) NULL,
	[MaTX] [varchar](50) NULL,
	[DaQuaTram] [bit] NULL,
 CONSTRAINT [PK_CHITIETKEHOACHVANCHUYEN_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGTY]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTY](
	[MaCty] [varchar](50) NOT NULL,
	[TenCty] [nvarchar](100) NULL,
	[TenVietTat] [nvarchar](50) NULL,
	[MaSoThue] [varchar](50) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NguoiDaiDien] [nvarchar](100) NULL,
	[SoDT] [varchar](15) NULL,
	[NgayHoatDong] [date] NULL,
	[Email] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[LoaiHinhDoanhNghiep] [nvarchar](50) NULL,
	[Link1] [nvarchar](250) NULL,
	[Link2] [nvarchar](250) NULL,
	[Link3] [nvarchar](250) NULL,
	[Logo] [image] NULL,
 CONSTRAINT [PK__CONGTY__3DC858FA8498CB39] PRIMARY KEY CLUSTERED 
(
	[MaCty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUOCPHI]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUOCPHI](
	[MaCP] [varchar](50) NOT NULL,
	[LoaiPT] [nvarchar](50) NULL,
	[KhoangCach] [float] NULL,
	[TrongLuong] [float] NULL,
	[ChieuCao] [float] NULL,
	[ChieuDai] [float] NULL,
	[ChieuRong] [float] NULL,
	[GiaTien] [float] NULL,
 CONSTRAINT [PK_CUOCPHI] PRIMARY KEY CLUSTERED 
(
	[MaCP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[MaDG] [varchar](50) NOT NULL,
	[MaKH] [varchar](50) NOT NULL,
	[MaDH] [varchar](50) NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[DiemTongQuat] [int] NULL,
	[DiemDungGio] [int] NULL,
	[DiemThaiDo] [int] NULL,
	[DiemAnToan] [int] NULL,
	[NoiDung] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEMTRUNGCHUYEN]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMTRUNGCHUYEN](
	[MaDTC] [varchar](50) NOT NULL,
	[TenDTC] [nvarchar](250) NULL,
	[KinhDo] [float] NULL,
	[ViDo] [float] NULL,
	[QuanLy] [nvarchar](50) NULL,
	[KhongSuDung] [bit] NULL,
	[SoDienThoai] [varchar](50) NULL,
	[Tinh] [nvarchar](50) NULL,
	[Huyen] [nvarchar](50) NULL,
	[Xa] [nvarchar](50) NULL,
	[Ap] [nvarchar](50) NULL,
	[Duong] [nvarchar](50) NULL,
 CONSTRAINT [PK_DIEMTRUNGCHUYEN] PRIMARY KEY CLUSTERED 
(
	[MaDTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MaDH] [varchar](50) NOT NULL,
	[MaKH] [varchar](50) NULL,
	[MaNV] [varchar](50) NULL,
	[MaHD] [varchar](50) NULL,
	[MaNKH] [varchar](50) NULL,
	[NgayDat] [datetime] NULL,
	[NgayHoanThanh] [datetime] NULL,
	[TongTienHang] [float] NULL,
	[PhiVanChuyen] [float] NULL,
	[PhiPhatSinh] [float] NULL,
	[TongTien] [float] NULL,
	[DiemLayHang] [nvarchar](255) NULL,
	[DiemGiaoHang] [nvarchar](255) NULL,
	[KhoiLuong] [float] NULL,
	[ChieuCao] [float] NULL,
	[ChieuDai] [float] NULL,
	[ChieuRong] [float] NULL,
	[LoaiHang] [nvarchar](50) NULL,
	[YeuCauDacBiet] [nvarchar](255) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[Tinh] [nvarchar](50) NULL,
	[Huyen] [nvarchar](50) NULL,
	[Xa] [nvarchar](50) NULL,
	[Ap] [nvarchar](50) NULL,
	[Duong] [nvarchar](50) NULL,
 CONSTRAINT [PK__DONHANG__2725866155DDCE56] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONVI]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVI](
	[MaDonVi] [varchar](50) NOT NULL,
	[TenDonVi] [nvarchar](100) NOT NULL,
	[MaCty] [varchar](50) NOT NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDT] [varchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[KhongSuDung] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAONHAN]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAONHAN](
	[MaGN] [varchar](50) NOT NULL,
	[MaDH] [varchar](50) NOT NULL,
	[MaTX] [varchar](50) NOT NULL,
	[MaPT] [varchar](50) NOT NULL,
	[ThoiGianDuKien] [datetime] NOT NULL,
	[ThoiGianThucTe] [datetime] NULL,
	[LoaiGN] [nvarchar](50) NULL,
	[DiaDiem] [nvarchar](255) NOT NULL,
	[NguoiLienHe] [nvarchar](100) NULL,
	[SoDTLienHe] [varchar](15) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[LyDo] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[NguoiKy] [nvarchar](100) NULL,
	[ChuKy] [varbinary](max) NULL,
	[HinhAnh] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MaHD] [varchar](50) NOT NULL,
	[MaKH] [varchar](50) NOT NULL,
	[NgayKy] [datetime] NOT NULL,
	[NgayHetHan] [datetime] NOT NULL,
	[GiaTriHD] [float] NOT NULL,
	[DieuKhoanThanhToan] [nvarchar](255) NULL,
	[DieuKhoanVanChuyen] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HUYEN]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HUYEN](
	[MaHuyen] [varchar](50) NOT NULL,
	[TenHuyen] [nvarchar](250) NULL,
	[DangSuDung] [bit] NULL,
	[MaTinh] [varchar](50) NOT NULL,
 CONSTRAINT [PK_HUYEN] PRIMARY KEY CLUSTERED 
(
	[MaHuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KEHOACHVANCHUYEN]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEHOACHVANCHUYEN](
	[MaKHVC] [varchar](50) NOT NULL,
	[MaNKH] [varchar](50) NULL,
	[ThoiGianNhanhNhat] [float] NULL,
	[ThoiGianChamNhat] [float] NULL,
	[QuangDuong] [float] NULL,
	[TieuHaoNhienLieu] [float] NULL,
	[DiemBatDau] [nvarchar](250) NULL,
	[DiemKetThuc] [nvarchar](255) NULL,
	[PhuongAnDuPhong] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[ChiPhi] [float] NULL,
	[STT] [int] NULL,
	[XuyenTram] [bit] NULL,
 CONSTRAINT [PK__KEHOACHV__6DF40C58EA3BBBE4] PRIMARY KEY CLUSTERED 
(
	[MaKHVC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [varchar](50) NOT NULL,
	[MaTK] [varchar](50) NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[SoDT] [varchar](15) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MaSoThue] [nvarchar](50) NULL,
	[NguoiLienHe] [nvarchar](100) NULL,
	[SoDTLienHe] [varchar](15) NULL,
	[LoaiKH] [nvarchar](50) NOT NULL,
	[TongGiaTriDonHang] [float] NULL,
	[SoDonHang] [int] NULL,
	[NgayTao] [datetime] NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHIEUNAI]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHIEUNAI](
	[MaKN] [varchar](50) NOT NULL,
	[MaKH] [varchar](50) NOT NULL,
	[MaDH] [varchar](50) NOT NULL,
	[MaNV] [varchar](50) NULL,
	[NgayTao] [datetime] NOT NULL,
	[LoaiKN] [nvarchar](50) NULL,
	[MucDoNghiemTrong] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](255) NULL,
	[HanXuLy] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[HuongGiaiQuyet] [nvarchar](255) NULL,
	[KetQua] [nvarchar](255) NULL,
	[PhanHoi] [nvarchar](255) NULL,
	[NgayDong] [datetime] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUHANHTRINH]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUHANHTRINH](
	[MaLS] [varchar](50) NOT NULL,
	[MaTX] [varchar](50) NULL,
	[MaPT] [varchar](50) NULL,
	[MaDH] [varchar](50) NULL,
	[ThoiGian] [datetime] NULL,
	[ToaDoX] [float] NULL,
	[ToaDoY] [float] NULL,
	[VanToc] [float] NULL,
	[NhienLieuConLai] [float] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[DiaDiem] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[MaNKH] [varchar](50) NULL,
	[DaQuaTram] [bit] NULL,
	[ThoiGianNhanDon] [datetime] NULL,
	[ThoiGianHoanThanh] [datetime] NULL,
	[HanNhanDon] [datetime] NULL,
 CONSTRAINT [PK__LICHSUHA__2725C77275A9CBF1] PRIMARY KEY CLUSTERED 
(
	[MaLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUTHANHTOAN]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUTHANHTOAN](
	[MaLSTT] [varchar](50) NOT NULL,
	[MaKH] [varchar](50) NOT NULL,
	[MaDH] [varchar](50) NOT NULL,
	[NgayThanhToan] [datetime] NOT NULL,
	[SoTien] [float] NOT NULL,
	[PhuongThuc] [nvarchar](50) NULL,
	[MaGD] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLSTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUTRANGTHAI]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUTRANGTHAI](
	[MaLS] [varchar](50) NOT NULL,
	[MaDH] [varchar](50) NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[TrangThaiCu] [nvarchar](50) NULL,
	[TrangThaiMoi] [nvarchar](50) NULL,
	[MaNV] [varchar](50) NULL,
	[LyDo] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [varchar](50) NOT NULL,
	[MaTK] [varchar](50) NULL,
	[MaDV] [varchar](50) NULL,
	[HoTen] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[CCCD] [varchar](50) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDT] [varchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[PhongBan] [nvarchar](50) NULL,
	[LuongCoBan] [float] NULL,
	[NgayVaoLam] [datetime] NULL,
	[TrinhDo] [nvarchar](50) NULL,
	[KinhNghiem] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[Anh] [varbinary](max) NULL,
 CONSTRAINT [PK__NHANVIEN__2725D70A15CDE95D] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__NHANVIEN__A955A0AA866C48A9] UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__NHANVIEN__A9D10534912B5481] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHIENLIEU]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHIENLIEU](
	[MaNL] [varchar](50) NOT NULL,
	[MaTX] [varchar](50) NOT NULL,
	[MaPT] [varchar](50) NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[KmNapLai] [float] NOT NULL,
	[LuongNapVao] [float] NOT NULL,
	[DonGia] [float] NOT NULL,
	[ThanhTien]  AS ([LuongNapVao]*[DonGia]) PERSISTED NOT NULL,
	[TramXang] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMKEHOACH]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMKEHOACH](
	[MaNKH] [varchar](50) NOT NULL,
	[TongThoiGian] [float] NULL,
	[TongQuangDuong] [float] NULL,
	[TongTieuHaoNhienLieu] [float] NULL,
	[TongChiPhi] [float] NULL,
	[KhongSuDung] [bit] NULL,
	[DiemBatDau] [varchar](50) NULL,
	[DiemKetThuc] [varchar](50) NULL,
	[XuyenTram] [bit] NULL,
 CONSTRAINT [PK_NHOMKEHOACH] PRIMARY KEY CLUSTERED 
(
	[MaNKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMLICHSUHANHTRINH]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMLICHSUHANHTRINH](
	[MaDH] [varchar](50) NOT NULL,
	[MaNKH] [varchar](50) NULL,
	[MaNV] [varchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaPT] [varchar](50) NULL,
	[MaTX] [varchar](50) NULL,
	[ThoiGianDiDon] [datetime] NULL,
	[ThoiGianXacNhan] [datetime] NULL,
 CONSTRAINT [PK_NHOMLICHSUHANHTRINH] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUONGTIEN]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUONGTIEN](
	[MaPT] [varchar](50) NOT NULL,
	[BienSo] [nvarchar](50) NULL,
	[LoaiXe] [nvarchar](50) NULL,
	[HangXe] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[NamSX] [int] NULL,
	[TaiTrong] [float] NULL,
	[DungTich] [float] NULL,
	[MauXe] [nvarchar](50) NULL,
	[SoKhung] [nvarchar](50) NULL,
	[SoMay] [nvarchar](50) NULL,
	[NgayDangKiem] [date] NULL,
	[NgayHetHanDK] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[KmHienTai] [float] NULL,
	[GhiChu] [nvarchar](255) NULL,
	[MaBai] [varchar](50) NULL,
	[KhongSuDung] [bit] NULL,
	[MaTX] [varchar](50) NULL,
	[MaDTC] [varchar](50) NULL,
 CONSTRAINT [PK__PHUONGTI__2725E7F6CFB97019] PRIMARY KEY CLUSTERED 
(
	[MaPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__PHUONGTI__2002CBFD745242F2] UNIQUE NONCLUSTERED 
(
	[SoMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__PHUONGTI__D8B5889AFD9D1C18] UNIQUE NONCLUSTERED 
(
	[SoKhung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__PHUONGTI__F7052EB6A95E3FAE] UNIQUE NONCLUSTERED 
(
	[BienSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MaTK] [varchar](50) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[TenDayDu] [nvarchar](250) NULL,
	[LoaiTaiKhoan] [nvarchar](50) NULL,
	[MaCty] [varchar](50) NULL,
	[MaDonVi] [varchar](50) NULL,
	[DangNhapLanCuoi] [datetime] NULL,
	[KhoaTaiKhoan] [bit] NULL,
 CONSTRAINT [PK__TAIKHOAN__27250070D7E848A8] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__TAIKHOAN__55F68FC09FCAE2BC] UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIXE]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIXE](
	[MaTX] [varchar](50) NOT NULL,
	[MaTK] [varchar](50) NULL,
	[MaDV] [varchar](50) NULL,
	[HoTen] [nvarchar](100) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
	[SoDT] [varchar](15) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[Email] [nvarchar](100) NULL,
	[CCCD] [varchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[NgayVaoLam] [datetime] NULL,
	[BangLai] [nvarchar](50) NULL,
	[LoaiBangLai] [nvarchar](50) NULL,
	[NgayHetHanBL] [date] NULL,
	[LuongCoBan] [float] NULL,
	[TrinhDoChuyenMon] [nvarchar](50) NULL,
	[KinhNghiem] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[Anh] [varbinary](max) NULL,
	[MaDTC] [varchar](50) NULL,
 CONSTRAINT [PK__TAIXE__27250045958F1781] PRIMARY KEY CLUSTERED 
(
	[MaTX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__TAIXE__A955A0AAC282B1FF] UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__TAIXE__A9D10534F37EE9DF] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THIETBI](
	[MaTB] [varchar](50) NOT NULL,
	[TenThietBi] [nvarchar](250) NULL,
	[LoaiPT] [nvarchar](50) NULL,
	[ThoiHanKiemTra] [float] NULL,
	[DonGia] [float] NULL,
	[SoLuongConLai] [float] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[KhongSuDung] [bit] NULL,
 CONSTRAINT [PK_THIETBI] PRIMARY KEY CLUSTERED 
(
	[MaTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINH]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINH](
	[MaTinh] [varchar](50) NOT NULL,
	[TenTinh] [nvarchar](50) NULL,
	[DangSuDung] [bit] NULL,
 CONSTRAINT [PK_TINH] PRIMARY KEY CLUSTERED 
(
	[MaTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XA]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XA](
	[MaXa] [varchar](50) NOT NULL,
	[TenXa] [nvarchar](50) NULL,
	[DangSuDung] [bit] NULL,
	[MaHuyen] [varchar](50) NOT NULL,
 CONSTRAINT [PK_XA] PRIMARY KEY CLUSTERED 
(
	[MaXa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DONHANG] ADD  CONSTRAINT [DF__DONHANG__PhiVanC__4D94879B]  DEFAULT ((0)) FOR [PhiVanChuyen]
GO
ALTER TABLE [dbo].[DONHANG] ADD  CONSTRAINT [DF__DONHANG__PhiPhat__4E88ABD4]  DEFAULT ((0)) FOR [PhiPhatSinh]
GO
ALTER TABLE [dbo].[DONVI] ADD  CONSTRAINT [DF_DONVI_KhongSuDung]  DEFAULT ((0)) FOR [KhongSuDung]
GO
ALTER TABLE [dbo].[KEHOACHVANCHUYEN] ADD  CONSTRAINT [DF_KEHOACHVANCHUYEN_ChiPhi]  DEFAULT ((0)) FOR [ChiPhi]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ((0)) FOR [TongGiaTriDonHang]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ((0)) FOR [SoDonHang]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LICHSUHANHTRINH] ADD  CONSTRAINT [DF_LICHSUHANHTRINH_DaQuaTram]  DEFAULT ((0)) FOR [DaQuaTram]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_TrangThai]  DEFAULT (N'Đang làm việc') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NHOMKEHOACH] ADD  CONSTRAINT [DF_NHOMKEHOACH_KhongSuDung]  DEFAULT ((0)) FOR [KhongSuDung]
GO
ALTER TABLE [dbo].[PHUONGTIEN] ADD  CONSTRAINT [DF_PHUONGTIEN_TrangThai]  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PHUONGTIEN] ADD  CONSTRAINT [DF_PHUONGTIEN_KmHienTai]  DEFAULT ((0)) FOR [KmHienTai]
GO
ALTER TABLE [dbo].[PHUONGTIEN] ADD  CONSTRAINT [DF_PHUONGTIEN_KhongSuDung]  DEFAULT ((0)) FOR [KhongSuDung]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [DF__TAIKHOAN__KhoaTa__1AD3FDA4]  DEFAULT ((0)) FOR [KhoaTaiKhoan]
GO
ALTER TABLE [dbo].[TAIXE] ADD  CONSTRAINT [DF_TAIXE_GioiTinh]  DEFAULT ((0)) FOR [GioiTinh]
GO
ALTER TABLE [dbo].[TAIXE] ADD  CONSTRAINT [DF_TAIXE_NgayVaoLam]  DEFAULT (getdate()) FOR [NgayVaoLam]
GO
ALTER TABLE [dbo].[TAIXE] ADD  CONSTRAINT [DF_TAIXE_TrangThai]  DEFAULT (N'Đang làm việc') FOR [TrangThai]
GO
ALTER TABLE [dbo].[BANGLUONG]  WITH CHECK ADD  CONSTRAINT [FK_BANGLUONG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[BANGLUONG] CHECK CONSTRAINT [FK_BANGLUONG_NHANVIEN]
GO
ALTER TABLE [dbo].[BANGLUONG]  WITH CHECK ADD  CONSTRAINT [FK_BANGLUONG_TAIXE] FOREIGN KEY([MaTX])
REFERENCES [dbo].[TAIXE] ([MaTX])
GO
ALTER TABLE [dbo].[BANGLUONG] CHECK CONSTRAINT [FK_BANGLUONG_TAIXE]
GO
ALTER TABLE [dbo].[BAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_BAOTRI_PHUONGTIEN] FOREIGN KEY([MaPT])
REFERENCES [dbo].[PHUONGTIEN] ([MaPT])
GO
ALTER TABLE [dbo].[BAOTRI] CHECK CONSTRAINT [FK_BAOTRI_PHUONGTIEN]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONHANG_DONHANG] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETDONHANG_DONHANG]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_DONHANG] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_DONHANG]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_KHACHHANG]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_HOPDONG] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOPDONG] ([MaHD])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_HOPDONG]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[DONVI]  WITH CHECK ADD  CONSTRAINT [FK_DONVI_CONGTY] FOREIGN KEY([MaCty])
REFERENCES [dbo].[CONGTY] ([MaCty])
GO
ALTER TABLE [dbo].[DONVI] CHECK CONSTRAINT [FK_DONVI_CONGTY]
GO
ALTER TABLE [dbo].[GIAONHAN]  WITH CHECK ADD  CONSTRAINT [FK_GIAONHAN_DONHANG] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
GO
ALTER TABLE [dbo].[GIAONHAN] CHECK CONSTRAINT [FK_GIAONHAN_DONHANG]
GO
ALTER TABLE [dbo].[GIAONHAN]  WITH CHECK ADD  CONSTRAINT [FK_GIAONHAN_PHUONGTIEN] FOREIGN KEY([MaPT])
REFERENCES [dbo].[PHUONGTIEN] ([MaPT])
GO
ALTER TABLE [dbo].[GIAONHAN] CHECK CONSTRAINT [FK_GIAONHAN_PHUONGTIEN]
GO
ALTER TABLE [dbo].[GIAONHAN]  WITH CHECK ADD  CONSTRAINT [FK_GIAONHAN_TAIXE] FOREIGN KEY([MaTX])
REFERENCES [dbo].[TAIXE] ([MaTX])
GO
ALTER TABLE [dbo].[GIAONHAN] CHECK CONSTRAINT [FK_GIAONHAN_TAIXE]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HOPDONG_KHACHHANG]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_TAIKHOAN] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TAIKHOAN] ([MaTK])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_TAIKHOAN]
GO
ALTER TABLE [dbo].[KHIEUNAI]  WITH CHECK ADD  CONSTRAINT [FK_KHIEUNAI_DONHANG] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
GO
ALTER TABLE [dbo].[KHIEUNAI] CHECK CONSTRAINT [FK_KHIEUNAI_DONHANG]
GO
ALTER TABLE [dbo].[KHIEUNAI]  WITH CHECK ADD  CONSTRAINT [FK_KHIEUNAI_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[KHIEUNAI] CHECK CONSTRAINT [FK_KHIEUNAI_KHACHHANG]
GO
ALTER TABLE [dbo].[KHIEUNAI]  WITH CHECK ADD  CONSTRAINT [FK_KHIEUNAI_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[KHIEUNAI] CHECK CONSTRAINT [FK_KHIEUNAI_NHANVIEN]
GO
ALTER TABLE [dbo].[LICHSUHANHTRINH]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUHANHTRINH_DONHANG] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
GO
ALTER TABLE [dbo].[LICHSUHANHTRINH] CHECK CONSTRAINT [FK_LICHSUHANHTRINH_DONHANG]
GO
ALTER TABLE [dbo].[LICHSUHANHTRINH]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUHANHTRINH_PHUONGTIEN] FOREIGN KEY([MaPT])
REFERENCES [dbo].[PHUONGTIEN] ([MaPT])
GO
ALTER TABLE [dbo].[LICHSUHANHTRINH] CHECK CONSTRAINT [FK_LICHSUHANHTRINH_PHUONGTIEN]
GO
ALTER TABLE [dbo].[LICHSUHANHTRINH]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUHANHTRINH_TAIXE] FOREIGN KEY([MaTX])
REFERENCES [dbo].[TAIXE] ([MaTX])
GO
ALTER TABLE [dbo].[LICHSUHANHTRINH] CHECK CONSTRAINT [FK_LICHSUHANHTRINH_TAIXE]
GO
ALTER TABLE [dbo].[LICHSUTHANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUTHANHTOAN_DONHANG] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
GO
ALTER TABLE [dbo].[LICHSUTHANHTOAN] CHECK CONSTRAINT [FK_LICHSUTHANHTOAN_DONHANG]
GO
ALTER TABLE [dbo].[LICHSUTHANHTOAN]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUTHANHTOAN_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[LICHSUTHANHTOAN] CHECK CONSTRAINT [FK_LICHSUTHANHTOAN_KHACHHANG]
GO
ALTER TABLE [dbo].[LICHSUTRANGTHAI]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUTRANGTHAI_DONHANG] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DONHANG] ([MaDH])
GO
ALTER TABLE [dbo].[LICHSUTRANGTHAI] CHECK CONSTRAINT [FK_LICHSUTRANGTHAI_DONHANG]
GO
ALTER TABLE [dbo].[LICHSUTRANGTHAI]  WITH CHECK ADD  CONSTRAINT [FK_LICHSUTRANGTHAI_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[LICHSUTRANGTHAI] CHECK CONSTRAINT [FK_LICHSUTRANGTHAI_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TAIKHOAN] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TAIKHOAN] ([MaTK])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[NHIENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_NHIENLIEU_PHUONGTIEN] FOREIGN KEY([MaPT])
REFERENCES [dbo].[PHUONGTIEN] ([MaPT])
GO
ALTER TABLE [dbo].[NHIENLIEU] CHECK CONSTRAINT [FK_NHIENLIEU_PHUONGTIEN]
GO
ALTER TABLE [dbo].[NHIENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_NHIENLIEU_TAIXE] FOREIGN KEY([MaTX])
REFERENCES [dbo].[TAIXE] ([MaTX])
GO
ALTER TABLE [dbo].[NHIENLIEU] CHECK CONSTRAINT [FK_NHIENLIEU_TAIXE]
GO
ALTER TABLE [dbo].[PHUONGTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHUONGTIEN_BAI] FOREIGN KEY([MaBai])
REFERENCES [dbo].[BAI] ([MaBai])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHUONGTIEN] CHECK CONSTRAINT [FK_PHUONGTIEN_BAI]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_DONVI] FOREIGN KEY([MaDonVi])
REFERENCES [dbo].[DONVI] ([MaDonVi])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_DONVI]
GO
ALTER TABLE [dbo].[TAIXE]  WITH CHECK ADD  CONSTRAINT [FK_TAIXE_TAIKHOAN] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TAIKHOAN] ([MaTK])
GO
ALTER TABLE [dbo].[TAIXE] CHECK CONSTRAINT [FK_TAIXE_TAIKHOAN]
GO
ALTER TABLE [dbo].[BAOTRI]  WITH CHECK ADD CHECK  (([LoaiBT]='Ð?t xu?t' OR [LoaiBT]='Ð?nh k?'))
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD CHECK  (([DiemAnToan]>=(1) AND [DiemAnToan]<=(5)))
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD CHECK  (([DiemDungGio]>=(1) AND [DiemDungGio]<=(5)))
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD CHECK  (([DiemThaiDo]>=(1) AND [DiemThaiDo]<=(5)))
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD CHECK  (([DiemTongQuat]>=(1) AND [DiemTongQuat]<=(5)))
GO
ALTER TABLE [dbo].[GIAONHAN]  WITH CHECK ADD CHECK  (([LoaiGN]='Nh?n' OR [LoaiGN]='Giao'))
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK__KHACHHANG__LoaiK__440B1D61] CHECK  (([LoaiKH]=N'Doanh nghiệp' OR [LoaiKH]=N'VIP' OR [LoaiKH]=N'Kim cương' OR [LoaiKH]=N'Vàng' OR [LoaiKH]=N'Bạc' OR [LoaiKH]=N'Đồng' OR [LoaiKH]=N'Thành viên' OR [LoaiKH]=N'Khách mới'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK__KHACHHANG__LoaiK__440B1D61]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [CK__TAIKHOAN__LoaiTa__19DFD96B] CHECK  (([LoaiTaiKhoan]='KhachHang' OR [LoaiTaiKhoan]='TaiXe' OR [LoaiTaiKhoan]='NhanVien'))
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [CK__TAIKHOAN__LoaiTa__19DFD96B]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePhuongTien]    Script Date: 28/12/2024 1:26:58 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePhuongTien]
    @MaPT VARCHAR(50),
    @BienSo NVARCHAR(50) = NULL,
    @LoaiXe NVARCHAR(50) = NULL,
    @HangXe NVARCHAR(50) = NULL,
    @Model NVARCHAR(50) = NULL,
    @NamSX INT = NULL,
    @TaiTrong FLOAT = NULL,
    @DungTich FLOAT = NULL,
    @MauXe NVARCHAR(50) = NULL,
    @SoKhung NVARCHAR(50) = NULL,
    @SoMay NVARCHAR(50) = NULL,
    @NgayDangKiem DATE = NULL,
    @NgayHetHanDK DATE = NULL,
    @TrangThai INT = NULL,
    @KmHienTai FLOAT = NULL,
    @GhiChu NVARCHAR(255) = NULL,
    @MaBai VARCHAR(50) = NULL,
    @KhongSuDung BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Thực hiện cập nhật
    UPDATE [dbo].[PHUONGTIEN]
    SET 
        [BienSo] = ISNULL(@BienSo, [BienSo]),
        [LoaiXe] = ISNULL(@LoaiXe, [LoaiXe]),
        [HangXe] = ISNULL(@HangXe, [HangXe]),
        [Model] = ISNULL(@Model, [Model]),
        [NamSX] = ISNULL(@NamSX, [NamSX]),
        [TaiTrong] = ISNULL(@TaiTrong, [TaiTrong]),
        [DungTich] = ISNULL(@DungTich, [DungTich]),
        [MauXe] = ISNULL(@MauXe, [MauXe]),
        [SoKhung] = ISNULL(@SoKhung, [SoKhung]),
        [SoMay] = ISNULL(@SoMay, [SoMay]),
        [NgayDangKiem] = ISNULL(@NgayDangKiem, [NgayDangKiem]),
        [NgayHetHanDK] = ISNULL(@NgayHetHanDK, [NgayHetHanDK]),
        [TrangThai] = ISNULL(@TrangThai, [TrangThai]),
        [KmHienTai] = ISNULL(@KmHienTai, [KmHienTai]),
        [GhiChu] = ISNULL(@GhiChu, [GhiChu]),
        [MaBai] = ISNULL(@MaBai, [MaBai]),
        [KhongSuDung] = ISNULL(@KhongSuDung, [KhongSuDung])
    WHERE 
        [MaPT] = @MaPT;

    -- Kiểm tra số bản ghi bị ảnh hưởng
    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('Không tìm thấy bản ghi với MaPT được cung cấp.', 16, 1);
    END
END
GO
USE [master]
GO
